<div class="features">
    <div class="feature-details">
        <div class="feature-name">
            <div class="empty-name"></div>
        </div>
        
        <div class="badge-container">
            <div class="badges"></div>
            <div class="badges"></div>
        </div>
    </div>
    <div class="creator"></div>
    <div class="share-details">
        <div class="nb-share"></div>
        <div class="idle-share"></div>
    </div>
    <div class="nb-clicks"><div class="empty-clicks"></div></div>
    <div class="nb-contacts"><div class="empty-contact"></div></div>
    <div class="edit">

        <button type="button" class="btn btn-info"></button>
        <button type="button" class="btn btn-info"></button>
        <button type="button" class="btn btn-info"></button>
    </div>
</div>