:host{
    background-color: #F9F5F1;
}

.fa-bell{
    font-size: 1.7rem;
}

.campagnes{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between; 
    margin: 0 50px 0 0;
    color: #4E4E4E;
    z-index: 0;
    text-decoration: none;
    
}

.filter-view{
    min-width: 1000px;
    max-width: 1300px;
    width: 100%;
    margin: 10px 50px 10px 30px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.selector{
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.5rem;
    gap: 1rem;
    button{
        padding: 10px 15px 10px 0;
        border: none;
        color: #4E4E4E;
        
    }
    .separator{
        height: 2rem;
        width: 0;
        margin-right: 10px;
        background-color: #BABAC1;
        border: 1px solid #BABAC1;
    }

    .new-campaign{
        padding: 10px 15px;
        color: white;
    }



    .tab-left::before{
        content: '';
        display: block;
        width: 100%;
        position: relative;
        top: 40px;
        border: 2px solid #2A7A93;
        border-radius: 15px 15px 0 0;
        
    }


    .tab-right::before{
        content: '';
        display: block;
        width: 75%;
        position: relative;
        top: 40px;
        left: 190px;
        border: 2px solid #2A7A93;
        border-radius: 15px 15px 0 0;
        
    }
    
}

.filter{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.key-words-view{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
}

.content{
    min-width: 1000px;
    max-width: 1300px;
    width: 100%;
    margin: 10px 50px 10px 30px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    border-radius: 12px;
    font-size: 1.2rem;
}

.header-content{
    width: 100%;
    display: grid;
    grid-template-columns: 40% 15% 15% 15% 15%;
    background-color: white;

    .shares, .clicks, .contacts {
        text-align: center;
        background-color: white;
    }
    .nom, .header-blank{
        background-color: white;
    }
}

.empty-results{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 50px 10px 30px;
    padding: 20px 20px;
    width: 100%;
    font-size: 2rem;
    background-color: white;

}


.footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin: 10px 0;
    padding: 10px 0;

    .pagination{
        display: flex;
        align-items: center;
        background-color: white;
        i{  
            margin: 0 10px;
            background-color: white;
            color: #BABAC1;
        }
        .arrow{
            border: none;
            background-color: transparent;
        }

        .hidden{
            opacity: 0;
            cursor: default;
        }
    }
}



